extends layout

block content
  div.dashboard-container
    h1 Dashboard
    span.alert Team 1 has been updated!
    span
      label(for='teamInput') Team
      select#teamInput
    span
      label(for='scoreInput') Score
      input#scoreInput(name='scoreInput' type='number' value=0)
    button Update

  script(src='/javascripts/primus.js')
  script(src='/javascripts/dashboard.js')