extends layout

block content
  div.dashboard-container
    h1 Dashboard
    span.alert Team 1 has been updated!
    span
      label(for='teamInput') Team
      select#teamInput
        option(value=0) Team 1
        option(value=1) Team 2
        option(value=2) Team 3
        option(value=3) Team 4
    span
      label(for='scoreInput') Score
      input#scoreInput(name='scoreInput' type='number' value=0)
    button Update

  script(src='/javascripts/primus.js')
  script(src='/javascripts/dashboard.js')