extends layout

block content
  h1 Dashboard
  div 
    label(for='scoreInput') Score
    input(name='scoreInput' id='scoreInput' type='number')

  script(src='/javascripts/primus.js')
  script(src='/javascripts/dashboard.js')