extends layout

block content
  div.leaderboard-container
    h1 Leaderboard
    div.leaderboard-header
      span.team-header Team
      span.team-score-header Score
    ul
      

  script(src='/javascripts/primus.js')
  script(src='/javascripts/leaderboard.js')
